{% extends "base.html" %}

{% block main %}
<!Doctype html>
<html>

<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
<h1 class="page-header">About</h1>


<body>

<div class="container-fluid block-content">
				<div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
					<h1>MEET OUR TEAM</h1>
					<h2>dedicated professionals</h2>
				</div>
				<div class="row team style-2">
					<div class="col-sm-3 wow zoomIn" data-wow-delay="0.3s">
						<div id="userpic" >
							<img src="{{ url_for('static', filename= 'IMG_0063.JPG') }}" width="220" height="220" class="rotate90">
						</div>
						<div class="user-info text-center">
							<small>Managing Director</small>
							<h4>{{name}}</h4>
							<p>Computer Science Major</p>


						</div>
						
					</div>
				</div>
			</div>
			</body>
			</html>
{% endblock %}