{% extends "base.html" %}

{% block main %}

<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
<h1 class="page-header">About</h1>

<p>This webpage is about {{ name }}.</p>

<div class="container-fluid block-content">
				<div class="hgroup text-center wow zoomIn" data-wow-delay="0.3s">
					<h1>MEET OUR TEAM</h1>
					<h2>dedicated professionals</h2>
				</div>
				<div class="row team style-2">
					<div class="col-sm-3 wow zoomIn" data-wow-delay="0.3s">
						<div class="userpic" style="background-image:url(static/tiger.jpg);">
							<span></span>
						</div>
						<div class="user-info text-center">
							<small>Managing Director</small>
							<h4>{{name}}</h4>
							<p>Computer Science Major</p>


						</div>
						<div class="soc-icons text-center">
							<a style="color:#005394;" href="#"><i class="fa fa-facebook-square fa-lg"></i></a>
							<a style="color:#ff054f;" href="#"><i class="fa fa-google-plus-square fa-lg"></i></a>
							<a style="color:#47aeff;" href="#"><i class="fa fa-twitter-square fa-lg"></i></a>
							<a style="color:#b50000;" href="#"><i class="fa fa-pinterest-square fa-lg"></i></a>
						</div>
					</div>
{% endblock %}