{% extends "base.html" %}

{% block main %}
<!Doctype html>
<html>
  <head>
    <title>Info3180-lab2</title>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css">
    
  </head>
  <br>
  

        <header>
             <h1 class="page-header">Profile</h1>
        </header>
    
  <body>
      
    <div id =' profilePic'>
    <img src="{{ url_for('static', filename= 'tiger.jpg') }}" width="260" height="220">
    
     
    <table id ="profileTableID">
      <tbody>
        
        <tr>
           <td>
              <div id ='name'>
              <h1> Jay Son</h1>
              </div>
          </td>
        </tr>
        
    
        <tr>
          <td>
          <div id ='timeinfo'>
            <br>
          Today's date is : {{timvar}} 
          </div>
          </td>
        </tr>
        

        <tr>
            <td>
              <div class ='profile'> 
              <br>
              <br>
              <p> Username: Chetah Jinx</p>
              <p> ID Number:620058821</p>
              <p>  Age:22</p>
              <p> Gender:Male</p>
              
            
              
              </div>
          </td>
        </tr>
        
        <tr>
          <td>
          <div id ='timeinfo'>
            <br>
          <p><marquee> I am faster than you can ever imagine!</marquee> </p> 
          </div>
          </td>
        </tr>
        <tbody>
    </table>
    </div>
         
   
    
   
  </body> 
      
  


 
      
  

</html>

{% endblock %}